@model appli_gest_assoc.Models.TypeRecetteSearching

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des types de recette</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form asp-controller="TypeRecettes" asp-action="Index" method="get">
                                    <p>
                                        <input type="text" asp-for="SearchString" placeholder="Libellé"/>
                                        <button class="btn btn-primary" type="submit">Filtrer</button>
                                    </p>
                                </form><br />
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Libellé
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TypeRecettes)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Libelle)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.IdTypeRecette"><i class="fa fa-edit"></i></a> |
                                                @*      <a asp-action="Details" asp-route-id="@item.IdTypeRecette">Details</a> |*@
                                                <a asp-action="Delete" asp-route-id="@item.IdTypeRecette"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <p><a asp-controller="TypeRecettes" asp-action="Create">Ajouter un type de recette</a></p>
            </div>
        </div>
    </div>
</div>
