@model appli_gest_assoc.Models.Depense

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Depense</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Libellé
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            Montant
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class = "col-sm-2">
            Bureau
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bureau.NomBureau)
        </dd>
        <dt class = "col-sm-2">
            Type de dépense
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeDepense.Libelle)
        </dd>
    </dl>
</div>
