@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Bienvenue !</h4>
            <ol class="breadcrumb pull-right">
                <li><a asp-controller="Home" asp-action="Index">Sofa</a></li>
                <li class="active">Accueil</li>
            </ol>
        </div>
    </div>

    <!-- Start Widget -->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-info"><i class="ion-cash"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">400</span>
                    Cotisations
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-purple"><i class="ion-calendar"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">7</span>
                    Activités
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-success"><i class="ion-person-stalker"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">300</span>
                    Membres
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-primary"><i class="ion-ios7-people"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">20</span>
                    Associations
                </div>
            </div>
        </div>
    </div>
    <!-- End row-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <img src="~/images/undraw_Dashboard_re_3b76.png" alt="" width="1200">
            </div>
        </div>
    </div>
</div> <!-- container -->